// _variables.scss  

$background-color: #fff;  
$max-width: 1280px;  
$font-family: Inter Grab Web, -apple-system, BlinkMacSystemFont, Segoe UI,  
    PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica,  
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;  

$breakpoint-desktop: 1024px;  
$breakpoint-tablet: 768px;  
$breakpoint-mobile: 576px;